<section class="content loader-content">
  <div class="d-flex flex-column align-items-center justify-content-center loader-container">
    <div><%= image_tag "icons/spinner.gif", alt: "loader" %></div>
    <br>
    <p>Please wait. Loading...</p>
  </div>
</section>
