<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="<%= root_path %>"><%= svg_icon_tag('logo', { class: 'icon-sm icon-logo' }) %> <span>Extended OBU Library</span></a>
</nav>
