$themeColor:                         #2497CC;
$bodyBackgroundColor:                #ffffff;
$defultFontColor:                    #59666C;

$black:                              #000000;
$white:                              #ffffff;
$primary:                            #0098D0;
$accent:                             #90A7B0;
$primaryText:                        #90A7B0;
$secondayText:                       #90A7B0;

$siteHeaderBgColor:                  #282828;

$titleColor:                         #90A7B1;

$anchorLinkColor:                    #00B58B;
$anchorLinkColorHover:               #0098D0;

$navItemOverColor:                   #1882b3;
$navItemActiveColor:                 #0487c1;
$activeNavBorderColor:               #01b28c;

$primaryButtonBorderColor:           #00B58B;
$primaryButtonColor:                 #00B58B;
$primaryButtonText:                  #ffffff;
$primaryButtonColorHover:            #0098D0;
$primaryButtonColorFocus:            #90A7B1;
$primaryButtonColorActive:           #90A7B1;

$secondaryButtonBorderColor:         #00B58B;
$secondaryButtonColor:               #ffffff;
$secondaryButtonText:                #00B58B;
$secondaryButtonColorHover:          #F2FBFF;
$secondaryButtonBorderColorHover:    #0098D0;
$secondaryButtonBorderColorFocus:    #90A7B0;

$buttonDisabledColor:                #E1EDF0;
$buttonDisabledText:                 #90A7B1;

$errorColor:                         #fdeeed;
