.error-page {
  background-color: #EFEFEF;
  color: #90A7B1;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
}

.error-page_message {
  align-items: center;
  background-color: #F2FBFF;
  display: flex;
  height: calc(100vh - 23.5rem);
  justify-content: center;
}

.error-page_message h1 {
  font-size: 72px;
  font-weight: 400;
  color: #59666C;
  margin: 0;
}

.libk-lost {
  margin-right: 1rem;
}

.error-page_help {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 250px;
  justify-content: center;
  text-align: center;
}
