.public-page {
  background-color: #eee;
  height: calc(100vh - 5.2rem);
  overflow: auto;

  &_banner-wrap {
    background-color: #9bd6ff;
    color: #194e73;
  }

  .banner {
    padding: 100px 0;
  }

  &_container {
    padding: 50px 0;

    &_item  {
      margin: 25px 0;
    }
  }
}